.menu-button {
    -fx-mark-color: transparent;
}.menu-button .arrow {
     -fx-background-color: transparent;
 }




{
    -fx-background-color: #8e44ad
;

    -fx-background-insets: 0, 1, 2
;
    -fx-background-radius: 3, 2, 1
;
/
/
-fx-padding
:
3
30
3
30
;
    -fx-text-fill: black
;
    -fx-font-size: 14px
;
}
